.watchVideoContainer.template

  //- HEADER
  header
    .logoContainer
      .logo
        //- DEFAULT LOGO
        .default-logo(ng-if="!vm.logo || vm.logo === 'null' || vm.logo === 'undefined'")
          span.logoText Powered by
          img(src='/files/images/logo_bizkonect.svg'
            alt='logo')

        //- USER LOGO
        .logo-user(
          ng-if="vm.logo && vm.logo != 'null'"
          ng-style="{backgroundImage: 'url('+ vm.logo + ')' }")

        //- EDIT LOGO BUTTON
        .edit-button.btn.upload
          label(for="logo").btn
            input.hidden(
              type="file"
              id="logo"
              onchange="angular.element(this).scope().convertToBase64LogoTemplate()")
            i.material-icons file_upload
            span.placeholder Upload logo

    //- SOCIAL
    .socialContainer
      //- .social
      //-   a.linkedin(href='')
      //-     img(src='/files/images/linkedin.png', alt='linkedin')
      //-   a.twitter(href='')
      //-     img(src='/files/images/twitter.png', alt='twitter')
      //-   a.facebook(href='')
      //-     img(src='files/images/facebook.png', alt='facebook')
      .contacts
        .phone
          img(src='/files/images/phone.png', alt='phone')
          p {{vm.user.phone}}
        .email
          img(src='/files/images/email.png', alt='email')
          p {{vm.user.email}}

  //- TITLE
  .title-container
    p.title
      span.placeholder(ng-hide="vm.titleObj.editMode || vm.titleObj.title || vm.titleObj.title === 'null' || vm.titleObj.title === 'undefined'") Add conversation topic here
      span(ng-if="vm.titleObj.title && !vm.titleObj.editMode && vm.titleObj.title != 'null' && vm.titleObj.title != 'undefined'") {{vm.titleObj.title}}
      input.mdl-textfield__input(
        type="text"
        ng-if="vm.titleObj.editMode"
        ng-model="vm.titleObj.title")
    button.edit-button.btn.btn-circle(
      type="button"
      ng-click="vm.edit(vm.titleObj)")
      i.material-icons mode_edit

  //- VIDEO CONTENT
  .video

    //- VIDEO HEADER
    .videoHeader
      .photo(
        ng-if="vm.user.photo && vm.user.photo != 'null'"
        ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
      .text

        //- USER NAME
        p.user-name
          span.placeholder(ng-hide="vm.nameObj.editMode || vm.nameObj.name || vm.user.firstName") Add your name
          span(ng-if="vm.nameObj.name && !vm.nameObj.editMode && vm.nameObj.name != 'null'") {{vm.nameObj.name}}
          span(ng-if="vm.user.firstName && !vm.nameObj.editMode && !vm.nameObj.name") {{vm.user.firstName}}
          input.mdl-textfield__input(
            type="text"
            ng-if="vm.nameObj.editMode"
            ng-model="vm.nameObj.name")
          button.edit-button.btn.btn-circle(
            type="button"
            ng-click="vm.edit(vm.nameObj)")
            i.material-icons mode_edit

        //- USER ROLE
        p.user-role
          span.placeholder(ng-hide="vm.companyRole.editMode || vm.companyRole.role || vm.user.company_position") Add your company role
          span(ng-if="vm.companyRole.role && !vm.companyRole.editMode && vm.companyRole.role != 'null'") {{vm.companyRole.role}}
          span(ng-if="vm.user.company_position && !vm.companyRole.editMode && !vm.companyRole.role") {{vm.user.company_position}}
          input.mdl-textfield__input(
            type="text"
            ng-if="vm.companyRole.editMode"
            ng-model="vm.companyRole.role")
          button.edit-button.btn.btn-circle(
            type="button"
            ng-click="vm.edit(vm.companyRole)")
            i.material-icons mode_edit

    //- VIDEO CONTENT
    .videoContent
      video.video-js.vjs-default-skin(
        vjs-video
        controls
        preload="auto"
        vjs-media="vm.media")
      button.edit-button.btn.btn-circle(
        type="button"
        ng-click="vm.showSelectPopup = true")
        i.material-icons mode_edit

    //- VIDEO FOOTER
    .videoFooter
      .chat-container
        .photo(
          ng-if="vm.user.photo && vm.user.photo != 'null'"
          ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
        .chat-box
          p.message
            span.placeholder(ng-hide="vm.messageObj.editMode || vm.messageObj.message || vm.titleObj.title === 'null' || vm.messageObj.message === 'undefined'") Add your message
            span(ng-if="vm.messageObj.message && !vm.messageObj.editMode && vm.messageObj.message != 'null' && vm.messageObj.message != 'undefined'") {{vm.messageObj.message}}
            textarea.mdl-textfield__input.chat-text-box(
              ng-if="vm.messageObj.editMode"
              ng-model="vm.messageObj.message")
            button.edit-button.btn.btn-circle(
              type="button"
              ng-click="vm.edit(vm.messageObj)")
              i.material-icons mode_edit
          .files
            button.edit-button.btn.upload
              i.material-icons file_upload
              span.placeholder Upload files

  //- SNACKBAR
  .snackbar-container
    .save-snackbar
      button.btn.mdl-button.mdl-js-button.mdl-button--raised(
        type="button"
        ng-click="vm.save()")
          | Save
      button.btn.mdl-button.mdl-js-button.mdl-button--raised(
        type="button"
        ng-click="vm.showSendPopup = true")
          | Send

  //- SEND POPUP
  popup.send-popup-container(ng-if="vm.showSendPopup")
    form.send-form({{action='', on='submit', }}='')
      p.popupTitle send
      input.email(
        type="email"
        placeholder="email"
        ng-model="email")
      .button-container
        button.btn.mdl-button.mdl-js-button.mdl-button--raised(ng-click="vm.closeSendPopup()") close
        button.btn.mdl-button.mdl-js-button.mdl-button--raised(ng-click="vm.sendVideo(email)") send

  //- SELECT VIDEO POPUP
  popup.select-video-container(ng-if="vm.showSelectPopup")
    video-list(
    list="vm.list"
    on-upload-click="vm.uploadBtnClick()"
    on-record-click="vm.recordBtnClick()"
    show-send-handler="vm.showSendHandler"
    on-send-click="vm.sendClickHandler($data)"
    on-thumbnail-click="vm.onThumbnailClick($data)")
    .button-container
      button.btn.mdl-button.mdl-js-button.mdl-button--raised.close-select-popup(ng-click="vm.closeSelectPopup()") close

