.watchVideoContainer.template
  header
    .logoContainer
      .logo
        img(src='/files/images/logo.png', alt='logo')
        span.logoText CommerceFocused
        button.edit-button.btn.upload
          i.material-icons file_upload
          span.placeholder Upload logo
    .socialContainer
      .social
        a.linkedin(href='')
          img(src='/files/images/linkedin.png', alt='linkedin')
        a.twitter(href='')
          img(src='/files/images/twitter.png', alt='twitter')
        a.facebook(href='')
          img(src='files/images/facebook.png', alt='facebook')
      .contacts
        .phone
          img(src='/files/images/phone.png', alt='phone')
          p {{vm.user.phone}}
        .email
          img(src='/files/images/email.png', alt='email')
          p {{vm.user.email}}
  .title-container
    p.title
      span.placeholder(ng-hide="vm.title.editMode || vm.title.editMode") Add conversation topic here
      input.mdl-textfield__input(
        type="text"
        ng-if="vm.title.editMode")
    button.edit-button.btn.btn-circle(
      type="button"
      ng-click="vm.edit(vm.title)")
      i.material-icons mode_edit
  .video
    .videoHeader
      .photo
      .text
        p.user-name
          span.placeholder(ng-hide="vm.name.editMode || vm.name.editMode") Add your name
          span(ng-if="vm.name.name") {{vm.user.name}}
          input.mdl-textfield__input(
            type="text"
            ng-if="vm.name.editMode"
            ng-modal="vm.name.name")
          button.edit-button.btn.btn-circle(
            type="button"
            ng-click="vm.edit(vm.name)")
            i.material-icons mode_edit
        p.user-role
          span.placeholder(ng-hide="vm.companyRole.editMode || vm.companyRole.role") Add your company role
          span(ng-if="vm.companyRole.role") {{vm.companyRole.role}}
          input.mdl-textfield__input(
            type="text"
            ng-if="vm.companyRole.editMode")
          button.edit-button.btn.btn-circle(
            type="button"
            ng-click="vm.edit(vm.companyRole)")
            i.material-icons mode_edit
    .videoContent
      video.video-js.vjs-default-skin(
        vjs-video
        controls
        preload="auto"
        vjs-media="vm.media")
    .videoFooter
      .chat-container
        .photo
        .chat-box
          p.message
            span.placeholder Add your message
            textarea.chat-text-box(ng-if="vm.editMode")
            button.edit-button.btn.btn-circle
              i.material-icons mode_edit
          .files
            button.edit-button.btn.upload
              i.material-icons file_upload
              span.placeholder Upload files
  .snackbar-container(class="{{vm.snackbarClass}}")
    .save-snackbar
      button.btn.mdl-button.mdl-js-button.mdl-button--raised(
        type="button")
          | Save
      button.btn.mdl-button.mdl-js-button.mdl-button--raised(
        type="button"
 
        ng-click="vm.showSendPopup = true")
          | Send

  //- Send popup
  popup.send-popup-container(ng-if="vm.showSendPopup")
    form.send-form({{action='', on='submit', }}='')
      p.popupTitle send
      input.email(
        type="email"
        placeholder="email"
        ng-model="email")
      .button-container
        button.btn.mdl-button.mdl-js-button.mdl-button--raised(ng-click="vm.closeSendPopup()") close
        button.btn.mdl-button.mdl-js-button.mdl-button--raised(ng-click="vm.sendVideo(email)") send

