
.watchVideoContainer.template

  //- HEADER
  header
    .logoContainer
      .logo
        //- DEFAULT LOGO
        .default-logo(ng-if="!vm.logo || vm.logo === null || vm.logo === 'undefined'")
          span.logoText Powered by
          img(src='/files/images/logo_bizkonect.svg'
            alt='logo')

        //- USER LOGO
        .logo-user(
          ng-if="vm.logo && vm.logo != null && vm.logo != 'undefined'"
          ng-style="{backgroundImage: 'url('+ vm.logo + ')' }")

        //- EDIT LOGO BUTTON
        .edit-button.btn.upload.logo-upload
          label(for="logo").btn
            input.hidden(
              type="file"
              id="logo"
              onchange="angular.element(this).scope().convertToBase64LogoTemplate()")
            i.material-icons file_upload
            span.upload-button-text(ng-if="!vm.logo || vm.logo === null || vm.logo === 'undefined'") Upload logo
            span.upload-button-text(ng-if="vm.logo && vm.logo != null && vm.logo != 'undefined'") Change logo

    //- SOCIAL
    .socialContainer
      //- .social
      //-   a.linkedin(href='')
      //-     img(src='/files/images/linkedin.png', alt='linkedin')
      //-   a.twitter(href='')
      //-     img(src='/files/images/twitter.png', alt='twitter')
      //-   a.facebook(href='')
      //-     img(src='files/images/facebook.png', alt='facebook')
      .contacts
        .phone
          img(src='/files/images/phone.png', alt='phone')
          p {{vm.user.phone}}
        .email
          img(src='/files/images/email.png', alt='email')
          p {{vm.user.email}}

  //- TITLE
  .title-container
    p.title.ellipsis
      span.placeholder.btn(
        ng-hide="vm.titleObj.editMode || (vm.titleObj.title && vm.titleObj.title != 'null' && vm.titleObj.title != 'undefined')"
        ng-click="vm.edit(vm.titleObj)") Add conversation topic here
      span.btn(
        ng-if="vm.titleObj.title && !vm.titleObj.editMode && vm.titleObj.title != null && vm.titleObj.title != 'undefined'"
        ng-click="vm.edit(vm.titleObj)") {{vm.titleObj.title}}
      md-input-container.title-input-container(
        md-no-float="true"
        ng-if="vm.titleObj.editMode")
        input.mdl-textfield__input.title-input(
          type="text"
          ng-model="vm.titleObj.title"
          placeholder="Add conversation topic here")
    button.edit-button.btn.btn-circle(
      type="button"
      ng-click="vm.edit(vm.titleObj)")
      i.material-icons mode_edit

  //- VIDEO CONTENT
  .video

    //- VIDEO HEADER
    .videoHeader
      .photo(
        ng-if="vm.user.photo && vm.user.photo != null"
        ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
      .text

        //- USER NAME
        p.user-name
          span.placeholder.btn(
            ng-hide="vm.nameObj.editMode || vm.nameObj.name || vm.user.name"
            ng-click="vm.edit(vm.nameObj)") Add your name
          span.btn(
            ng-if="vm.nameObj.name && !vm.nameObj.editMode && vm.nameObj.name != null"
            ng-click="vm.edit(vm.nameObj)") {{vm.nameObj.name}}
          span.btn(
            ng-if="vm.user.name && !vm.nameObj.editMode && !vm.nameObj.name"
            ng-click="vm.edit(vm.nameObj)") {{vm.user.name}}
          md-input-container.name-input-container(md-no-float="true")
            input.mdl-textfield__input.name-input(
              aria-label=" "
              type="text"
              ng-if="vm.nameObj.editMode"
              ng-model="vm.nameObj.name")
          button.edit-button.btn.btn-circle(
            type="button"
            ng-click="vm.edit(vm.nameObj)")
            i.material-icons mode_edit

        //- USER ROLE
        p.user-role
          span.placeholder.btn(
            ng-hide="vm.companyRole.editMode || vm.companyRole.role || vm.user.company_position"
            ng-click="vm.edit(vm.companyRole)") Add your company role
          span.btn(
            ng-if="vm.companyRole.role && !vm.companyRole.editMode && vm.companyRole.role != null"
            ng-click="vm.edit(vm.companyRole)") {{vm.companyRole.role}}
          span.btn(
            ng-if="vm.user.company_position && !vm.companyRole.editMode && !vm.companyRole.role"
            ng-click="vm.edit(vm.companyRole)") {{vm.user.company_position}}
          md-input-container.role-input-container(md-no-float="true")
            input.mdl-textfield__input.role-input(
              aria-label=" "
              type="text"
              ng-if="vm.companyRole.editMode"
              ng-model="vm.companyRole.role")
          button.edit-button.btn.btn-circle(
            type="button"
            ng-click="vm.edit(vm.companyRole)")
            i.material-icons mode_edit

    //- VIDEO CONTENT
    .videoContent
      video.video-js.vjs-default-skin(
        vjs-video
        controls
        preload="auto"
        vjs-media="vm.media")
      button.edit-button.btn.btn-circle(
        type="button"
        ng-click="vm.showSelectPopup = true")
        i.material-icons mode_edit

    //- VIDEO FOOTER
    .videoFooter
      .template-message-container
        .message-container
          .photo(
            ng-if="vm.user.photo && vm.user.photo != null"
            ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
          .message
            md-input-container.text-container(aria-label="text input")
              label Add your message
              textarea.chat-reply-text(
                aria-label="text input"
                maxlength="300"
                ng-model="vm.messageObj.message")
            .files
              .template-file(ng-if="vm.file")
                i.material-icons.template-file-icon insert_drive_file
                p.template-file-name.ellipsis {{vm.file.attributes.name}}
                i.material-icons.delete-file(ng-click="vm.deleteFile()") highlight_off
              button.edit-button.btn.upload(ng-click="vm.showSelectFilePopup=true")
                i.material-icons file_upload
                span.placeholder(ng-if="!vm.file") Add files
                span.placeholder(ng-if="vm.file") Edit files

  //- SNACKBAR
  .snackbar-container
    .save-snackbar
      .back-button-container
        button.btn.mdl-button.mdl-js-button.mdl-button--raised(
          type="button"
          ng-click="vm.back()")
            | Back
      .use-buttons-container
        button.btn.mdl-button.mdl-js-button.mdl-button--icon.save(
          type="button"
          ng-click="vm.save()")
          i.material-icons save

        //- WE WILL USE THIS WHEN WILL BE 'SAVE AS NEW' FUNCTIONALITY
        //- button.btn.mdl-button.mdl-js-button.mdl-button--icon.save#demo-menu-top-right(
        //-   type="button")
        //-   i.material-icons save
        //- ul.mdl-menu.mdl-menu--top-right.mdl-js-menu.mdl-js-ripple-effect(data-mdl-for="demo-menu-top-right")
        //-   li.mdl-menu__item(ng-click="vm.save()") SAVE
        //-   li.mdl-menu__item(ng-click="vm.save()") SAVE AS NEW

        button.btn.mdl-button.mdl-js-button.mdl-button--raised(
          type="button"
          ng-click="vm.showSendPopup = true")
            | Send

        //- button#demo-show-toast.mdl-button.mdl-js-button(ng-click="openSnackBar('hello')") show
        //- #demo-toast-example.mdl-js-snackbar.mdl-snackbar
        //-   .mdl-snackbar__text
        //-   button.mdl-snackbar__action

  //- SEND POPUP
  popup.send-popup-container(
    ng-if="vm.showSendPopup"
    close-popup="vm.closeSendPopup()")
    form.send-form({{action='', on='submit', }}='')
      p.popupTitle Send your message
      md-input-container.email-container(md-no-float="true")
        input(
          type="email"
          ng-model="email"
          placeholder="Type recipient email here")
      .button-container
        button.btn.mdl-button.mdl-js-button(ng-click="vm.closeSendPopup()") close
        button.btn.mdl-button.mdl-js-button(
          ng-click="vm.sendVideo(email)"
          ng-disabled="!email") send
    md-button.md-icon-button(
      aria-label="facebook"
      ng-click="vm.shareFacebook()")
      i.fa.fa-facebook
    md-button.md-icon-button(
      aria-label="linkedin"
      ng-click="vm.shareLinkedin()")
      i.fa.fa-linkedin
    md-button.md-icon-button(
      aria-label="twitter"
      ng-click="vm.shareTwitter()")
      i.fa.fa-twitter

  //- SELECT VIDEO POPUP
  popup.select-video-container(
    ng-if="vm.showSelectPopup"
    close-popup="vm.closeSelectPopup()")
    video-list(
      list="vm.list"
      on-upload-click="vm.uploadBtnClick()"
      on-record-click="vm.recordBtnClick()"
      show-send-button="vm.showSendButton"
      on-send-click="vm.sendClickHandler($data)"
      on-thumbnail-click="vm.onThumbnailClick($data)")
    .buttons-container
      button.btn.mdl-button.mdl-js-button.mdl-button--raised.close-select-popup(ng-click="vm.closeSelectPopup()") close

  //- SELECT FILE POPUP
  popup.select-file-container(
    ng-if="vm.showSelectFilePopup"
    close-popup="vm.closeSelectFilePopup()")
    files-list(
      list="vm.filesList"
      show-delete-button="false"
      show-use-button="true"
      on-upload-end="vm.getFiles()"
      on-use-click="vm.onUseFileClick($data)")
    .buttons-container
      button.btn.mdl-button.mdl-js-button.mdl-button--raised.close-select-popup(ng-click="vm.closeSelectFilePopup()") close

  //- Record popup
  record-popup-wrapper(get-videos="vm.getVideos()")

  //- Upload popup
  upload-popup-wrapper(get-videos="vm.getVideos()")

  //- Feedback form
  feedback.template
