.watchVideoContainer.template
  header
    .logoContainer
      .logo
        img(src='/files/images/logo.png', alt='logo')
        span.logoText CommerceFocused
        button.edit-button.btn.upload
          i.material-icons file_upload
          span.placeholder Upload logo
    .socialContainer
      .social
        a.linkedin(href='')
          img(src='/files/images/linkedin.png', alt='linkedin')
        a.twitter(href='')
          img(src='/files/images/twitter.png', alt='twitter')
        a.facebook(href='')
          img(src='files/images/facebook.png', alt='facebook')
      .contacts
        .phone
          img(src='/files/images/phone.png', alt='phone')
          p {{vm.user.phone}}
        .email
          img(src='/files/images/email.png', alt='email')
          p {{vm.user.email}}
  .title-container
    p.title
      span.placeholder(ng-if="!vm.editMode") Add conversation topic here
      input(
        type="text"
        ng-if="vm.editMode")
    button.edit-button.btn.btn-circle
      i.material-icons mode_edit
  .video
    .videoHeader
      .photo
      .text
        p.user-name
          span.placeholder Add your name
          input(
            type="text"
            ng-if="vm.editMode")
          button.edit-button.btn.btn-circle
            i.material-icons mode_edit
        p.user-role
          span.placeholder Add your role
          input(
            type="text"
            ng-if="vm.editMode")
          button.edit-button.btn.btn-circle
            i.material-icons mode_edit
    .videoContent
      video.video-js.vjs-default-skin(
        vjs-video
        controls
        preload="auto"
        vjs-media="vm.media")
    .videoFooter
      .chat-container
        .photo
        .chat-box
          p.message
            span.placeholder Add your message
            textarea.chat-text-box(ng-if="vm.editMode")
            button.edit-button.btn.btn-circle
              i.material-icons mode_edit
          .files
            button.edit-button.btn.upload
              i.material-icons file_upload
              span.placeholder Upload files
