<div class="vertical-aligned-middle auth full-page">
  <div class="login-container">
    <h2 class="title">Login</h2>
    <form class="login-form" {{action 'authenticate' on='submit'}}>
      {{mdl-textfield label='Login' value=identification}}
      {{mdl-textfield label='Password' type="password" value=password}}
      {{#if errorMessage}}
        <p class="error">Login failed: {{errorMessage}}</p>
        {{#link-to "reset-password"}}reset password{{/link-to}}
      {{/if}}
      <div class="button-container">
        {{mdl-button isRaised=true type="submit" text='login'}}
      </div>
    </form>
  </div>
</div>