<div class="vertical-aligned-middle new-password full-page">
  <div class="container">
    <h2 class="title">New Password</h2>
    <form class="form" {{action 'save' on='submit'}}>
      {{mdl-textfield label='New Password' type="password" value=newPassword}}
      {{mdl-textfield label='Confirm Password' type="password" value=confirmPassword}}
      {{#if errorMessage}}
        <p class="error">Error: {{errorMessage}}</p>
      {{/if}}
      <div class="button-container">
        {{mdl-button isRaised=true type="submit" text='save'}}
      </div>
    </form>
  </div>
</div>