<div class="popupContainer {{if isShown "shown"}}">
  <div class="popup" ondrop={{action "drop"}} ondragover="return false">
    <form class="uploadForm">
      <div class="uploadIconContainer">  
        <label for="upload-video" class="uploadIcon">
          {{file-upload url="/video" id="upload-video" uploadEnd=(action 'uploadEnd') uploadStart=(action 'uploadStart')}}
        </label>
      </div>
      <p class="popupTitle">Select files to upload</p>
      <p class="popupSubTitle">Or drag and drop video files</p>
      <div class="buttonContainer">
        <button type="button" class="closeButton" {{action 'hidePopup'}}>close</button>
      </div>
    </form>
  </div>
</div>
{{loading-overlay show=isUploading}}