.content
  .videos-container
    .add-button
      .content
        .buttons
          .upload(
            ng-click="vm.onUploadClick()"
            ga-click="button"
            ga-click-action="click"
            ga-click-label="upload-in-list")
            .fa.fa-cloud-upload(aria-hidden="true")
            p Upload
          .record(
            ng-click="vm.onRecordClick()"
            ga-click="button"
            ga-click-action="click"
            ga-click-label="record-in-list")
            .fa.fa-video-camera(aria-hidden="true")
            p Record
        p.text New video
    .video-container(ng-repeat="item in vm.list")
      video-tile(
        video="item"
        show-send-button="vm.showSendButton"
        on-send-click="vm.onSendClick({$data: item})"
        on-delete-video="vm.onDeleteVideo({$data: item.id})"
        on-thumbnail-click="vm.onThumbnailClick({$data: item})")
