.app-menu(ng-class="vm.className")
  .menu-button(
    ng-click="vm.redirect('/dashboard')"
    ng-class="{active: vm.url === '/dashboard'}")
    i.material-icons dashboard
    span Dashbord
  .menu-button(
    ng-click="vm.redirect('/conversations')"
    ng-class="{active: vm.url === '/conversations'}")
    i.material-icons message
    span Conversations
    .unreaded-message(ng-if="vm.unreadMessage") {{ vm.unreadedMessage }}
  .menu-button(
    ng-click="vm.redirect('/library')"
    ng-class="{active: vm.url === '/library'}")
    i.material-icons video_library
    span Library
  .menu-button
    i.material-icons contacts
    span Contacts
  .menu-button(
    ng-click="vm.redirect('/profile')"
    ng-class="{active: vm.url === '/profile'}")
    i.material-icons account_box
    span My profile
  .menu-button(ng-click="vm.invalidateSession()")
    i.material-icons exit_to_app
    span Log out

  a.app-version(
    href="/release-notes"
    target="_blank") v.0.0.3
  md-button.md-icon-button.feedback-buton(
    ng-click="vm.showFeedback()")
    md-icon.material-icons feedback
