.conversations-content
  .conversations-container
    .conversation(
      ng-repeat="item in vm.list | orderBy:'-updated'"
      ng-click="vm.onViewClick({$data: item.id})")
      .indicators(ng-click="vm.onIndicatorClick({$event: $event})")
        .mail(ng-if="!item.viewed")
          md-tooltip(md-direction="right") Conversation hasn't been opened yet
          i.material-icons email
        .mail-opend(ng-if="item.viewed")
          md-tooltip(md-direction="right") Conversation has been opened
          i.material-icons drafts
        .is-watching(ng-if="item.viwatching")
          md-tooltip(md-direction="right") Video is watching now
          i.material-icons remove_red_eye
        .not-viewed(ng-if="!item.viewed")
          md-tooltip(md-direction="right") Video hasn't been watched
          i.material-icons remove_red_eye
        .viewed(ng-if="item.viewed")
          md-tooltip(md-direction="right") Video has been watched
          i.material-icons remove_red_eye
        .files
          md-tooltip(md-direction="right") Files haven't been downloaded yet
          i.material-icons insert_drive_file

      p.email
        span(ng-if="item.email && item.email != 'null' && item.email != 'undefined'") to: {{item.email}}
        span(ng-if="!item.email || item.email === 'null' || item.email === 'undefined'") Public
      p.title
        span(
        ng-if="item.title && item.title != null && item.title != 'undefined'"
        ng-bind="item.title")
        span(ng-if="!item.title || item.title === null || item.title === 'undefined'") Untitle
      p.message
        span(
        ng-if="item.message && item.message != null && item.message != 'undefined'"
        ng-bind="item.message")
        span(ng-if="!item.message || item.message === null || item.message === 'undefined'") No message
      .button-container
        button.btn.mdl-button.mdl-js-button.view(ng-click="vm.onViewClick({$data: item.id})") 
          | view
