.conversations-content
  .conversations-container
    .conversation(
      ng-repeat="item in vm.list | orderBy:'-updated'"
      ng-click="vm.onViewClick({$data: item.id})")
      .main-content
        .content
          .message-info.ellipsis
            span(ng-if="!vm.toUser && item.email && item.email != 'null' && item.email != 'undefined'") to: {{item.email}}
            span(ng-if="!vm.toUser && !item.email || item.email === 'null' || item.email === 'undefined'") Public
            span(ng-if="vm.toUser") from: {{item.author}}
          .message
            .bubble(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED")

            .subject.ellipsis(ng-if="(vm.toUser && item.CONVERSATION_IS_VIEWED) || !vm.toUser") {{item.title || 'Untitled'}}
            .subject.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED") {{item.title || 'Untitled'}}

            .person.ellipsis(ng-if="(vm.toUser || !vm.toUser) && item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:
            .person.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:

            .last-message.ellipsis(ng-if="((vm.toUser && item.CONVERSATION_IS_VIEWED) || !vm.toUser) && (item.lastMessage || item.message)") {{item.lastMessage || item.message}}
            .last-message.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && (item.lastMessage || item.message)") {{item.lastMessage || item.message}}
          .pr-bar-container(ng-class="item.expandClass")
            .progress-bar(ng-if="!vm.toUser")

              //- conversation sent
              p.timeline-title Events timeline:
              .icon.green.done
                .icon-container
                  i.material-icons send
                  .result
                    i.material-icons
                      .small-icon done
                span.explain Aug 2, 5:35pm: Email delivered

              //- conversation was opened
              .icon.green(ng-if="!item.CONVERSATION_IS_VIEWED")
                .icon-container
                  i.material-icons drafts
                span.explain Roman didn't open your email/message
              .icon.green.done(ng-if="item.CONVERSATION_IS_VIEWED")
                .icon-container
                  i.material-icons drafts
                  .result
                    .times 9
                    //- i.material-icons // Wi'll not display this element when event happened more than once
                      //- .small-icon done
                //- span.explain Aug 2, 5:36pm: Roman opened your email/message
                span.explain {{ item.CONVERSATION_IS_VIEWED.localDate }}, {{ item.CONVERSATION_IS_VIEWED.localTime }}: Roman opened your email/message

              //-
              .icon.green.done
                .icon-container
                  i.fa.fa-hand-pointer-o(aria-hidden="true")
                  .result
                    i.material-icons
                      .small-icon done
                span.explain Aug 2, 5:36 pm: Roman clicked the link
              
              //- conversation video watched
              .icon.green(ng-if="!item.VIDEO_IS_WATCHED")
                .icon-container
                  i.material-icons remove_red_eye
                span.explain Roman didn't watch the video yet
              .icon.green.done(ng-if="item.VIDEO_IS_WATCHED")
                .icon-container  
                  i.material-icons remove_red_eye
                  .result
                    i.material-icons
                      .small-icon done
                span.explain Aug 2, 3:37pm: Roman watched your video
              //- 
              .icon.green.done
                .icon-container
                  i.material-icons pause_circle_outline
                  .result
                    i.material-icons
                      .small-icon done
                span.explain Aug 2, 3:37pm: Roman looked through your video

              //- conversation file was downloaded
              .icon.green(ng-if="!item.FILE_IS_DOWNLOADED")
                .icon-container
                  i.material-icons attachment
                span.explain Roman didn't download your files
              .icon.green.done(ng-if="item.FILE_IS_DOWNLOADED")
                .icon-container
                  i.material-icons attachment
                  .result
                    i.material-icons
                      .small-icon done
                span.explain Aug 2, 3:37pm: Roman downloaded your attachment
              //- have chat in conversation
              .icon.green(ng-if="!item.NEW_MESSAGE")
                .icon-container
                  i.material-icons chat
                span.explain Roman didn't answer yet
              .icon.green.done(ng-if="item.NEW_MESSAGE")
                .icon-container
                  i.material-icons chat
                  .result
                    i.material-icons
                      .small-icon done
                span.explain Aug 2, 3:37pm: Congrats, it worked! You received the respones from Roman 
              //- all previous points done
              .done-all(ng-if="item.doneAll")
                i.material-icons done
                span.success Contact!
              md-button#full-log(onclick="event.stopPropagation();") See Full log

        
        .open-btn-container
          md-button.view(ng-click="vm.onViewClick({$data: item.id})")
            | open
      .expand-btn-container
        md-button.md-icon-button.expand(
          ng-if="!item.expandClass"
          ng-click="vm.expand($event, item)")
          i.material-icons keyboard_arrow_down
        md-button.md-icon-button.expand.collapse(
          ng-if="item.expandClass"
          ng-click="vm.collapse($event, item)")
          i.material-icons keyboard_arrow_down
