.conversations-content
  .conversations-container
    .conversation(
      ng-repeat="item in vm.list | orderBy:'-updated'"
      ng-click="vm.onViewClick({$data: item.id})")
      .main-content
        .content
          .message-info.ellipsis
            span(ng-if="!vm.toUser && item.email && item.email != 'null' && item.email != 'undefined'") to: {{item.email}}
            span(ng-if="!vm.toUser && !item.email || item.email === 'null' || item.email === 'undefined'") Public
            span(ng-if="vm.toUser") from: {{item.author}}
          .message
            .bubble(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED")

            .subject.ellipsis(ng-if="(vm.toUser && item.CONVERSATION_IS_VIEWED) || !vm.toUser") {{item.title || 'Untitled'}}
            .subject.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED") {{item.title || 'Untitled'}}

            .person.ellipsis(ng-if="(vm.toUser || !vm.toUser) && item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:
            .person.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:

            .last-message.ellipsis(ng-if="((vm.toUser && item.CONVERSATION_IS_VIEWED) || !vm.toUser) && (item.lastMessage || item.message)") {{item.lastMessage || item.message}}
            .last-message.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && (item.lastMessage || item.message)") {{item.lastMessage || item.message}}
          .pr-bar-container(ng-class="item.expandClass")
            .progress-bar(ng-if="!vm.toUser")

              //- conversation sent
              p.timeline-title Events timeline:
              .icon.green.done
                .icon-container
                  i.material-icons send
                  .result
                    i.material-icons
                      .small-icon done
                span.explain Email delivered

              //- conversation was opened
              .icon.green(ng-if="!item.CONVERSATION_IS_VIEWED")
                .icon-container
                  i.material-icons drafts
                span.explain User didn't open your email/message
              .icon.green.done(ng-if="item.CONVERSATION_IS_VIEWED")
                .icon-container
                  i.material-icons drafts
                  .result
                    .times(ng-if="item.CONVERSATION_IS_VIEWED.counter > 1 && item.CONVERSATION_IS_VIEWED.counter < 9") {{ item.CONVERSATION_IS_VIEWED.counter }}
                    .times(ng-if="item.CONVERSATION_IS_VIEWED.counter > 9") 9+
                    i.material-icons(ng-if="item.CONVERSATION_IS_VIEWED.counter === 1")
                      .small-icon done
                span.explain {{ item.CONVERSATION_IS_VIEWED.date | date:'h:mm a' }}: User opened your email/message

              //- //-
              //- .icon.green.done
              //-   .icon-container
              //-     i.fa.fa-hand-pointer-o(aria-hidden="true")
              //-     .result
              //-       i.material-icons
              //-         .small-icon done
              //-   span.explain {{ item.CONVERSATION_IS_VIEWED.date }}: Roman clicked the link

              //- conversation video watched
              .icon.green(ng-if="!item.VIDEO_IS_WATCHED")
                .icon-container
                  i.material-icons remove_red_eye
                span.explain User didn't watch the video yet
              .icon.green.done(ng-if="item.VIDEO_IS_WATCHED")
                .icon-container  
                  i.material-icons remove_red_eye
                  .result
                    i.material-icons
                      .small-icon done
                span.explain {{ item.VIDEO_IS_WATCHED.date | date:'h:mm a' }}: User watched your video

              //- conversation video paused
              .icon.green(ng-if="!item.VIDEO_PAUSED")
                .icon-container
                  i.material-icons pause_circle_outline
              .icon.green.done(ng-if="item.VIDEO_PAUSED && !item.VIDEO_IS_WATCHED")
                .icon-container
                  i.material-icons pause_circle_outline
                  .result
                    i.material-icons
                      .small-icon done
                span.explain {{ item.VIDEO_PAUSED.date | date:'h:mm a' }}: User stoped your video at {{item.VIDEO_PAUSED.metadata.time | number:1 }} second

              //- conversation file was downloaded
              .icon.green(ng-if="!item.FILE_IS_DOWNLOADED")
                .icon-container
                  i.material-icons attachment
                span.explain User didn't download your files
              .icon.green.done(ng-if="item.FILE_IS_DOWNLOADED")
                .icon-container
                  i.material-icons attachment
                  .result
                    i.material-icons
                      .small-icon done
                span.explain {{ item.FILE_IS_DOWNLOADED.date | date:'h:mm a' }}: User downloaded your attachment

              //- have chat in conversation
              .icon.green(ng-if="!item.NEW_MESSAGE")
                .icon-container
                  i.material-icons chat
                span.explain User didn't answer yet
              .icon.green.done(ng-if="item.NEW_MESSAGE")
                .icon-container
                  i.material-icons chat
                  .result
                    i.material-icons
                      .small-icon done
                span.explain {{ item.NEW_MESSAGE.date | date:'h:mm a' }}: Congrats, it worked! You received the respones

              //- all previous points done
              .done-all(ng-if="item.doneAll")
                i.material-icons done
                span.success Contact!
              md-button#full-log(ng-click="vm.onFullLogClick({$data: item.sortedHistory, $event: $event})") See Full log

        .open-btn-container
          md-button.view(ng-click="vm.onViewClick({$data: item.id})")
            | open
      .expand-btn-container(ng-if="!vm.toUser")
        md-button.md-icon-button.expand(
          ng-if="!item.expandClass"
          ng-click="vm.expand($event, item)")
          i.material-icons keyboard_arrow_down
        md-button.md-icon-button.expand.collapse(
          ng-if="item.expandClass"
          ng-click="vm.collapse($event, item)")
          i.material-icons keyboard_arrow_down