popup.video-record(close-popup="vm.closeRecordPopup()")
  .video-record-container
    form.record-form
      p.popup-title Record your video
      .record-video
        record-video(finish="vm.finishRecord($data)")
      .video-name-container
        md-input-container.video-name(md-no-float="true")
          input(
            type="text"
            ng-model="vm.videoName"
            placeholder="Enter video file name")
      p.error(ng-if="vm.errorMessage") Error: {{vm.errorMessage}}
      .button-container
        button.btn.mdl-button.mdl-js-button.mdl-button--raised.cancel(ng-click="vm.closeRecordPopup()") cancel
        button.btn.mdl-button.mdl-js-button.mdl-button--raised.save(
          ng-click="vm.sendRecordClick(vm.videoName)"
          ng-disabled="!vm.recordedData") save