popup.video-record(close-popup="vm.closeRecordPopup()")
  .video-record-container
    form.record-form
      p.popup-title Record your video
      .record-video
        .video-bg.video-js.vjs-record
          .vjs-device-button.vjs-control.vjs-icon-device-perm
          input.file-input.vjs-device-button.vjs-control.vjs-icon-device-perm(
            type="file"
            name="file"
            accept="video/*"
            capture=""
            on-file-change="vm.finishRecord($file)")
      .video-name-container
        md-input-container.video-name(md-no-float="true")
          input(
            type="text"
            ng-model="vm.videoName"
            placeholder="Enter video file name")
      p.error(ng-if="vm.errorMessage") Error: {{vm.errorMessage}}
      .button-container
        button.btn.mdl-button.mdl-js-button.mdl-button--raised.cancel(ng-click="vm.closeRecordPopup()") cancel
        button.btn.mdl-button.mdl-js-button.mdl-button--raised.save(
          ng-click="vm.sendRecordClick(vm.videoName)"
          ng-disabled="!vm.videoFile") save