.vertical-aligned-middle.new-password.full-page.auth
  .container
    h2.title New Password
    form.form(layout="column")

      md-input-container
        label New Password
        input(
          type="password"
          ng-model="newPassword"
          required)

      md-input-container
        label Confirm password
        input(
          type="password"
          ng-model="confirmPassword"
          required)

      p.error(ng-if="vm.errorMessage") Error: {{vm.errorMessage}}
      .button-container
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect(
          ng-click="vm.setPassword(newPassword, confirmPassword)")
          | save