.vertical-aligned-middle.new-password.full-page.auth
  .container
    h2.title New Password
    form.form
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(
          type="password"
          id="newPassword"
          ng-model="newPassword")
        label.mdl-textfield__label(for='newPassword') New Password
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(
          type="password"
          id="confirmPassword"
          ng-model="confirmPassword")
        label.mdl-textfield__label(for='confirmPassword') Confirm Password
      p.error(ng-if="vm.errorMessage") Error: {{vm.errorMessage}}
      .button-container
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(
          ng-click="vm.setPassword(newPassword, confirmPassword)")
          | save