.vertical-aligned-middle.auth.full-page
  .auth-container
    img.logo(src='/files/images/logo_bizkonect.svg')
    h2.title Register
    form.login-form
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(
          type="email"
          id="Email"
          ng-model="email")
        label.mdl-textfield__label(for='Email') Email
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(
          type="password"
          id="Password"
          ng-model="password")
        label.mdl-textfield__label(for="Password") Password
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(
          type="password"
          id="confirmPassword"
          ng-model="confirmPassword")
        label.mdl-textfield__label(for="confirmPassword") Confirm password
      p.error(ng-if="vm.errorRegister") Register failed: {{vm.errorRegister}}

      .button-container
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(
          ng-click="vm.register(email, password, confirmPassword)")
          | Register