.profile-wrap
  app-header
  app-menu(class-name="desktop-menu")
  .profile-container
    .title-container
      .title-content
        p.title Edit profile
        p.sub-title Complete your profile
    
    .content
      md-input
    //- .profile-photo(
    //-   ng-if="vm.user.photo && vm.user.photo != 'null'"
    //-   ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
    //- .profile-photo(ng-if="!vm.user.photo || vm.user.photo === 'null'")
    //- div
    //-   label(for="photo")
    //-     .upload-photo.btn
    //-       input.hidden(
    //-         type="file"
    //-         id="photo"
    //-         onchange="angular.element(this).scope().convertToBase64Photo()")
    //-       i.material-icons file_upload
    //- p.errorMessage(ng-if="vm.photoError"
    //-   ng-bind="vm.photoError")

    //- .company-info
      ul.mdl-list.info-content
        li.mdl-list__item
          .mdl-list__item-primary-content Company information

        li.mdl-list__item
          .mdl-list__item-primary-content
            i.material-icons.mdl-list__item-icon work
            span(ng-hide="vm.editMod",
              ng-bind="vm.company.name"
              ng-if="vm.company.name && vm.company.name != null && vm.company.name != undefined")
            span(ng-hide="vm.editMod",
              ng-if="!vm.company.name || vm.company.name === null || vm.company.name === undefined") Information is absent
            input.mdl-textfield__input(
              ng-show="vm.editMod"
              type="text"
              ng-model="vm.company.name"
              placeholder="Company Name")

        li.mdl-list__item
          .mdl-list__item-primary-content
            .company-logo(
              ng-if="vm.company.logo && vm.company.logo != null"
              ng-style="{backgroundImage: 'url('+ vm.company.logo + ')' }")
            .company-logo(ng-if="!vm.company.logo || vm.company.logo === null")
            div(ng-show="vm.editMod")
              label(for="logo")
                .upload-logo
                  input.hidden(
                    type="file"
                    id="logo"
                    onchange="angular.element(this).scope().convertToBase64Logo()")
                  i.material-icons.btn file_upload
        li.errorMessage(
            ng-if="vm.logoError"
            ng-bind="vm.logoError")

        li.mdl-list__item
          .mdl-list__item-primary-content
            i.material-icons.mdl-list__item-icon work
            span(ng-hide="vm.editMod",
              ng-bind="vm.user.companyPosition"
              ng-if="vm.user.companyPosition && vm.user.companyPosition != null")
            span(ng-hide="vm.editMod",
              ng-if="!vm.user.companyPosition || vm.user.companyPosition === null") Information is absent
            input.mdl-textfield__input(
              ng-show="vm.editMod"
              type="text"
              ng-model="vm.user.companyPosition"
              placeholder="Company Position")

  //- Feedback form
  feedback.profile
