.profile-wrap
  app-header
  .title-container
    h2.title My profile
  .profile-container
    .profile-photo(
      ng-if="vm.user.photo && vm.user.photo != 'null'"
      ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
    .profile-photo(ng-if="!vm.user.photo || vm.user.photo === 'null'")
    div(ng-show="vm.editMod")
      label(for="photo")
        .upload-photo.btn
          input.hidden(
            type="file"
            id="photo"
            onchange="angular.element(this).scope().convertToBase64Photo()")
          i.material-icons file_upload
    p.errorMessage(ng-if="vm.photoError"
      ng-bind="vm.photoError")
    .button-container
      button.button-edit.btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(
      type="button"
      ng-hide="vm.editMod"
      ng-click="vm.editMod = true")
        |Edit my profile
      button.button-edit.btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(
      type="button"
      ng-show="vm.editMod"
      ng-click="vm.save()")
        |Save information
    .personal-info
      ul.mdl-list.info-content
        li.mdl-list__item
          .mdl-list__item-primary-content Personal information

        li.mdl-list__item
          .mdl-list__item-primary-content
            i.material-icons.mdl-list__item-icon person
            span(ng-hide="vm.editMod",
              ng-bind="vm.user.firstName"
              ng-if="vm.user.firstName && vm.user.firstName != 'null'")
            span(ng-hide="vm.editMod",
              ng-if="!vm.user.firstName || vm.user.firstName === 'null'") Information is absent
            input.mdl-textfield__input(
              ng-show="vm.editMod"
              type="text"
              ng-model="vm.user.firstName"
              placeholder="Name")

        li.mdl-list__item
          .mdl-list__item-primary-content
            span.second-name(ng-hide="vm.editMod",
              ng-bind="vm.user.secondName"
              ng-if="vm.user.secondName && vm.user.secondName != 'null'")
            span.second-name(ng-hide="vm.editMod",
              ng-if="!vm.user.secondName || vm.user.secondName === 'null'") Information is absent
            input.second-name.mdl-textfield__input(
              ng-show="vm.editMod"
              type="text"
              ng-model="vm.user.secondName"
              placeholder="Second Name")

        li.mdl-list__item
          .mdl-list__item-primary-content
            i.material-icons.mdl-list__item-icon phone
            span(ng-hide="vm.editMod",
              ng-bind="vm.user.phone"
              ng-if="vm.user.phone && vm.user.phone != 'null'")
            span(ng-hide="vm.editMod",
              ng-if="!vm.user.phone || vm.user.phone === 'null'") Information is absent
            input.mdl-textfield__input(
              ng-show="vm.editMod"
              type="text"
              ng-model="vm.user.phone"
              placeholder="Phone")

        li.mdl-list__item
          .mdl-list__item-primary-content
            i.material-icons.mdl-list__item-icon mail
            span(ng-hide="vm.editMod",
              ng-bind="vm.user.email"
              ng-if="vm.user.email && vm.user.email != 'null'")
            span(ng-hide="vm.editMod",
              ng-if="!vm.user.email || vm.user.email === 'null'") Information is absent
            input.mdl-textfield__input(
              ng-show="vm.editMod"
              type="email"
              ng-model="vm.user.email"
              placeholder="Email")

    .company-info
      ul.mdl-list.info-content
        li.mdl-list__item
          .mdl-list__item-primary-content Company information

        li.mdl-list__item
          .mdl-list__item-primary-content
            i.material-icons.mdl-list__item-icon work
            span(ng-hide="vm.editMod",
              ng-bind="vm.company.name"
              ng-if="vm.company.name && vm.company.name != 'null' && vm.company.name != undefined")
            span(ng-hide="vm.editMod",
              ng-if="!vm.company.name || vm.company.name === 'null' || vm.company.name === undefined") Information is absent
            input.mdl-textfield__input(
              ng-show="vm.editMod"
              type="text"
              ng-model="vm.company.name"
              placeholder="Company Name")

        li.mdl-list__item
          .mdl-list__item-primary-content
            .company-logo(
              ng-if="vm.company.logo && vm.company.logo != 'null'"
              ng-style="{backgroundImage: 'url('+ vm.company.logo + ')' }")
            .company-logo(ng-if="!vm.company.logo || vm.company.logo === 'null'")
            div(ng-show="vm.editMod")
              label(for="logo")
                .upload-logo
                  input.hidden(
                    type="file"
                    id="logo"
                    onchange="angular.element(this).scope().convertToBase64Logo()")
                  i.material-icons.btn file_upload
        li.errorMessage(
            ng-if="vm.logoError"
            ng-bind="vm.logoError")

        li.mdl-list__item
          .mdl-list__item-primary-content
            i.material-icons.mdl-list__item-icon work
            span(ng-hide="vm.editMod",
              ng-bind="vm.user.company_position"
              ng-if="vm.user.company_position && vm.user.company_position != 'null'")
            span(ng-hide="vm.editMod",
              ng-if="!vm.user.company_position || vm.user.company_position === 'null'") Information is absent
            input.mdl-textfield__input(
              ng-show="vm.editMod"
              type="text"
              ng-model="vm.user.company_position"
              placeholder="Company Position")