//- Upload popup
popup.uploadForm(
  ng-if="vm.showUploadPopup"
  close-popup="vm.closeUploadPopup()"
  show-upload-popup="vm.showUploadPopup"
  get-videos="vm.getVideos()")
  form
    .uploadIconContainer
      label.uploadIcon(for='upload-video')
        div(
          file-uploader
          url="/video"
          input-id="upload-video"
          upload-end="vm.uploadEnd()"
          upload-start=""
          on-error="")
    p.popupTitle Select files to upload
    p.popupSubTitle Or drag and drop video files
    p.error(ng-if="errorMessage") Error: {{errorMessage}}
    .buttonContainer
      button.closeButton(ng-click="vm.closeUploadPopup()") close