.files-content
  .upload-container
    label(for='upload-file')
      div(
        file-uploader
        url="/file"
        input-id="upload-file"
        upload-end="vm.onUploadEnd()"
        upload-start=""
        on-error="")
      .button-container
        .upload-icon
        p.text Select files to upload, or drag and drop files
  .files-container
    .file-container
      .file
        p.name file name
        p.size file size
        p.date file date
    .file-container(ng-repeat="item in vm.list")
      .file.with-hover(ng-click="vm.onUseClick({$data: item.id})")
        p.name {{item.attributes.name}}
        p.size {{}} size
        p.date {{}} date
        .button-container
          //- button.btn.mdl-button.mdl-js-button.use(ng-click="vm.onUseClick({$data: item.id})")
          //-   | Use
          button.btn.mdl-button.mdl-js-button.mdl-button--icon.delete(ng-click="vm.onDelete({$data: item.id, $event: $event})")
            i.material-icons delete

