.library-wrapper
  app-header
  .navigation
    .navigation-bar-container
      ul.navigation-bar
        li(
          ng-class="vm.videosClass"
          ng-click="vm.tabBtnVideosClick()") VIDEOS
        li(
          ng-class="vm.templatesClass"
          ng-click="vm.tabBtnTemplatesClick()") TEMPLATES
        li(
          ng-class="vm.conversationsClass"
          ng-click="vm.tabBtnConversationsClick()") CONVERSATIONS
        //- li ANALYTICS
        //- li CONTACTS

  video-fab-buttons(
    ng-if="vm.showVideos"
    upload-btn-click="vm.uploadBtnClick()"
    record-btn-click="vm.recordBtnClick()")

  //- TODO: handlers
  video-list(
    ng-if="vm.showVideos"
    list="vm.videosList"
    on-upload-click="vm.uploadBtnClick()"
    on-record-click="vm.recordBtnClick()"
    show-send-handler="vm.showSendHandler"
    on-thumbnail-click="vm.showPreview($data)"
    on-send-click="vm.sendClickHandler($data)")

  template-list(
    ng-if="vm.showTemplates"
    list="vm.templatesList"
    use="vm.useTemplate($data)"
    delete="vm.deleteTemplate($data)")

  conversation-list(
    ng-if="vm.showConversations"
    list="vm.conversationsList"
    viewe="vm.vieweConversation($data)")

  //- Record popup
  popup(ng-if="vm.showRecordPopup")
    .video-record-container
      form.recordForm
        p.popupTitle Record your video
        .record-video
          record-video(finish="vm.finishRecord($data)")
        .videoNameContainer
          input(type="text" ng-model="vm.videoName" placeholder="Enter video name")
        p.error(ng-if="vm.errorMessage") Error: {{vm.errorMessage}}
        .button-container
          button.cancel(ng-click="vm.closeRecordPopup()") cancel
          button.save(
            ng-click="vm.sendRecordClick(vm.videoName)"
            ng-disabled="!vm.recordedData") save

  //- Upload popup
  popup.uploadForm(ng-if="vm.showUploadPopup")
    form
      .uploadIconContainer
        label.uploadIcon(for='upload-video')
          div(
            file-uploader
            url="/video"
            input-id="upload-video"
            upload-end="vm.uploadEnd()"
            upload-start=""
            on-error="")
      p.popupTitle Select files to upload
      p.popupSubTitle Or drag and drop video files
      p.error(ng-if="errorMessage") Error: {{errorMessage}}
      .buttonContainer
        button.closeButton(ng-click="vm.closeUploadPopup()") close

  //- Preview popup
  popup(ng-if="vm.showPreviewPopup")
    .video-preview-container
      p.title.ellipsis {{vm.previewVideo.attributes.name}}
      .video-container
        video.video-js.vjs-default-skin(
          vjs-video
          controls
          preload="auto"
          vjs-media="vm.previewVideoUrl")
      .button-container
        button.close(ng-click="vm.closePreviewPopup()") close
        button.send(ng-click="vm.sendClickHandler(vm.previewVideo)") send