.library-wrapper(
  md-swipe-left="vm.changeTab(1)"
  md-swipe-right="vm.changeTab(-1)"
  md-swipe-down=""
  md-swipe-up="")
  app-header
  md-content.library-content
    md-tabs(
      md-dynamic-height=""
      md-border-bottom=""
      md-selected="vm.selectedIndex"
      md-center-tabs="true")

      //- TODO: handlers
      md-tab(label='videos')
        md-content.md-padding.tubs-content(
          md-selected="vm.selectedIndex")
          video-list(
            list="vm.videosList"
            on-upload-click="vm.uploadBtnClick()"
            on-record-click="vm.recordBtnClick()"
            show-send-button="vm.showSendButton"
            on-thumbnail-click="vm.showPreview($data)"
            on-send-click="vm.sendClickHandler($data)"
            on-delete-video="vm.deleteVideo($data)")

      //- Templates
      md-tab(label='templates')
        md-content.md-padding.tubs-content(
          md-selected="vm.selectedIndex")
          template-list(
            list="vm.templatesList"
            on-use-click="vm.useTemplate($data)"
            on-delete="vm.deleteTemplate($data, $event)")

      //- Conversations
      md-tab(label='conversations')
        md-content.md-padding.tubs-content(
          md-selected="vm.selectedIndex")
          conversation-list(
            list="vm.conversationsList"
            on-indicator-click="vm.stopPropagation($event)"
            on-view-click="vm.viewConversation($data)"
            show-indicators="vm.showConversationIndicators")
          conversation-list(
            list="vm.conversationsToUserList"
            on-indicator-click="vm.stopPropagation($event)"
            on-view-click="vm.viewConversation($data)"
            to-user="vm.toUser")

      //- Files
      md-tab(label='files')
        md-content.md-padding.tubs-content(
          md-selected="vm.selectedIndex")
          files-list(
            list="vm.filesList"
            on-upload-end="vm.onUploadFileEnd()"
            show-delete-button="true"
            show-use-button="false"
            on-send-click=""
            on-delete="vm.deleteFile($data)")

  //- Video record & upload fab button
  video-fab-buttons(
    upload-btn-click="vm.uploadBtnClick()"
    record-btn-click="vm.recordBtnClick()")

  //- Record popup
  record-popup-wrapper(get-videos="vm.getVideos()")

  //- Upload popup
  upload-popup-wrapper(get-videos="vm.getVideos()")

  //- Preview popup
  popup.video-preview(
    ng-if="vm.showPreviewPopup"
    close-popup="vm.closePreviewPopup()")
    .video-preview-container
      p.title.ellipsis {{vm.previewVideo.attributes.name}}
      .video-container
        video.video-js.vjs-default-skin(
          vjs-video
          controls
          fluid
          preload="auto"
          vjs-media="vm.previewVideoUrl")
      .button-container
        button.btn.mdl-button.mdl-js-button.mdl-button--raised.close(ng-click="vm.closePreviewPopup()") close
        button.btn.mdl-button.mdl-js-button.mdl-button--raised.send(ng-click="vm.sendClickHandler(vm.previewVideo)") send

  //- Feedback form
  feedback
