.feedback-form
  popup(close-popup="vm.closeFeedback()")
    .feedback-form-container
      p.title Leave your feedback
      p.text The app is at alpha-testing stage. We diligently gather and value every opinion about how we can improve Bizkonect app.
      md-input-container.message-container
        label Your feedback
        textarea(
          ng-model="vm.feedback.message"
          maxlength="300"
          aria-label="text input")
      .button-container
        button.btn.mdl-button.mdl-js-button(ng-click="vm.closeFeedback()") close
        button.btn.mdl-button.mdl-js-button(
          ng-disabled="!vm.feedback.message"
          ng-click="vm.sendClickHandler(vm.feedback)") send