.dashboard-wrapper
  app-header
  app-menu(class-name="desktop-menu")
  .dashboard-container
    .performance-container
      h2.title Dashboard
      .cards
        dashboard-card(
          class-name="messages"
          icon="send"
          title="Messages send"
          data="vm.sentConversation")
        dashboard-card(
          class-name="opend-message"
          icon="drafts"
          title="Messages opend"
          data="vm.openedConversation")
        dashboard-card(
          class-name="videos"
          icon="videocam"
          title="Video watched"
          data="vm.videoIsWatched")
        dashboard-card(
          class-name="replies"
          icon="reply"
          title="Replies received"
          data="0")
        dashboard-card(
          class-name="files"
          icon="attach_file"
          title="Files downloaded"
          data="vm.fileIsDownloaded")
    .messages-container
      p.content-title Recent activities
      .message-content(ng-repeat="item in vm.messages")
        p.time {{item.passedTime}}
        p.message.ellipsis {{item.message}}
        .button-container
          md-button.message-button(ng-click="vm.redirectToConversation(item.conversationId)") reply
          //- md-button.message-button view

    //- Record popup
    record-popup-wrapper

    //- Upload popup
    upload-popup-wrapper

    //- Feedback form
    feedback
