.video-tile
  .video-placeholder(ng-if="!vm.video.attributes.thumbnail")
    img(src="/files/images/videoPlaceholder.svg")
    p Preview is not available.
  img.photo(
    ng-if="vm.video.attributes.thumbnail"
    src='data:image/png;base64,{{vm.video.attributes.thumbnail}}',
    alt=''
    ng-click="vm.onThumbnailClick()")
  p.text.ellipsis(title='{{vm.video.attributes.name}}') {{vm.video.attributes.name}}
  .buttons-container
    md-menu.menu(ng-if="vm.showSendButton")
      md-button.menu-button(
        ng-mouseenter="$mdMenu.open()"
        aria-label="Open menu")
        img(src='/files/images/dots.png', alt='')
      md-menu-content(ng-mouseleave="$mdMenu.close()")
        md-menu-item
          md-button(ng-click="vm.onDeleteVideo()") Delete
    .inlineBlock(
      ng-if="vm.showSendButton"
      ng-click="vm.onSendClick()")
      .send
        .fa.fa-paper-plane(aria-hidden="true")