header.main-header
  .navigation-components
    md-button.md-icon-button.header-menu-button(
      aria-label="Open menu"
      ng-click="vm.openMenu()")
      i.material-icons.menu-icon menu
    img.logo.pointer(src='/files/images/logo_bizkonect.svg')
    notifications
  md-sidenav.md-sidenav-left.header-menu(
    md-component-id="left"
    md-whiteframe="4"
  )
    md-content
      .photo-container
        md-list-item.md-2-line.mobile-photos
          .md-avatar.photo(ng-if="!vm.user.photo || vm.user.photo === 'null'")
          .md-avatar.photo(
            ng-if="vm.user.photo && vm.user.photo != 'null'"
            ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
          .md-list-item-text
            h3 
              span.first-name(ng-if="vm.user.firstName") {{vm.user.firstName}}
              span(ng-if="vm.user.secondName") {{vm.user.secondName}}
            p {{vm.user.email}}
      app-menu(
        class-name="mobile-menu"
        show-feedback="vm.showFeedback()")
