header.main-header
  .navigation-components
    md-button.md-icon-button.header-menu-button(
      aria-label="Open menu"
      ng-click="vm.openMenu()")
      i.material-icons.menu-icon menu
    img.logo.pointer(src='/files/images/logo_bizkonect.svg')
    .notification-container
      //- .material-icons.email-notification(
        ng-click="vm.redirect('/dashboard')") email
      md-menu(
        md-position-mode="target-right target"
        ng-if="vm.notifications.length")
        i.fa.fa-bell-o.notifications.mdl-badge.mdl-badge--overlap(
          aria-hidden="true"
          ng-click="$mdMenu.open()"
          data-badge="{{vm.notifications.length}}")
        md-menu-content.notification-menu-content
          md-menu-item.notification-item(
            ng-repeat="item in vm.notifications"
            ng-click="vm.markAsRead(item.id)")
            span {{item.message}}
            span {{item.date}}

  md-sidenav.md-sidenav-left.header-menu(
    md-component-id="left"
    md-whiteframe="4"
  )
    .photo-container
      md-list-item.md-2-line.mobile-photos
        .md-avatar.photo(ng-if="!vm.user.photo || vm.user.photo === 'null'")
        .md-avatar.photo(
          ng-if="vm.user.photo && vm.user.photo != 'null'"
          ng-style="{backgroundImage: 'url('+ vm.user.photo + ')' }")
        .md-list-item-text
          h3 
            span.first-name(ng-if="vm.user.firstName") {{vm.user.firstName}}
            span(ng-if="vm.user.secondName") {{vm.user.secondName}}
          p {{vm.user.email}}
    app-menu(class-name="mobile-menu")