.library-wrapper()
  //- md-swipe-left="vm.changeTab(1)"
  //- md-swipe-right="vm.changeTab(-1)"
  //- md-swipe-down=""
  //- md-swipe-up="")
  app-header(
    show-feedback="vm.showFeedback()"
    close-feedback="vm.closeFeedback()")
  app-menu(
    class-name="desktop-menu"
    show-feedback="vm.showFeedback()")
  md-content.library-content
    md-tabs(
      md-dynamic-height=""
      md-border-bottom=""
      md-selected="vm.selectedIndex"
      md-center-tabs="true")

      //- Conversations
      md-tab(label='conversations')
        md-content.md-padding.tubs-content(
          md-selected="vm.selectedIndex")
          conversation-list(
            list="vm.conversationsList"
            on-indicator-click="vm.stopPropagation($event)"
            on-view-click="vm.viewConversation($data)"
            show-indicators="vm.showConversationIndicators"
            on-full-log-click="vm.showFullLog($event, $data)")
          conversation-list(
            list="vm.conversationsToUserList"
            on-indicator-click="vm.stopPropagation($event)"
            on-view-click="vm.viewConversation($data)"
            to-user="vm.toUser")

  feedback(
    ng-if="vm.showFeedbackPopup"
    close-feedback="vm.closeFeedback()")

  //- Full log popup
  popup.full-log-popup(
      ng-if="vm.showFullLogPopup"
      close-popup="vm.closeFullLogPopup()")
    h5.title Conversation history
    .day
      i.material-icons event
      //- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
      //-                                                                |
      //- Following span section is hardcoded and needs proper logic:    |
      //- It should divide rows with .log events that belong to the same |
      //- day. Also each event should display only time and no date      |
      //-                                                                |
      //- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
      span 2 Aug:

    .log(ng-repeat="item in vm.fullLogs")
      .icon
        i.material-icons(ng-if="item.type === 'NEW_MESSAGE'") chat
        i.material-icons(ng-if="item.type === 'FILE_IS_DOWNLOADED'") attachment
        i.material-icons(ng-if="item.type === 'VIDEO_IS_WATCHED'") remove_red_eye
        i.material-icons(ng-if="item.type === 'VIDEO_IS_WATCHING'") pause_circle_outline
        i.material-icons(ng-if="item.type === 'CONVERSATION_IS_VIEWED'") drafts
      .date {{ item.date | date:'d MMM, h:mm:ss a:'}}
      .message {{ item.message }}
    .button-container
      md-button.md-button(ng-click="vm.closeFullLogPopup()") Close