.user-wrapper
  app-header
  .title-container
    h2.title Edit user
  .edit-user-form
    form
      md-input-container
        label First name
        input(
          type="text"
          ng-model="vm.user.firstName")
      md-input-container
        label Last name
        input(
          type="text"
          ng-model="vm.user.secondName")
      md-input-container
        label Email
        input(
          type="email"
          ng-readonly="true"
          ng-model="vm.user.email")
      .button-container
        md-button.md-raised.md-primary.blue-btn(ng-click="vm.editUser()")
          | Save