.chat-reply-container
  .chat-reply-box
    form(ng-submit="vm.send()")
      label(for="messageBox")
        md-input-container.text-container(aria-label="text input")
          label Type here to reply
          textarea.chat-reply-text(
            id="messageBox"
            aria-label="text input"
            maxlength="300"
            ng-keydown="vm.onkeyDown($event)"
            ng-model="vm.message")
      button.btn.mdl-button.send(
        type="submit"
        ng-if="vm.message")
        | Send