.watchVideoContainer(ng-click="vm.contentClick()")
  header.user-header(ng-if="vm.showUserHeader")
    .logoContainer
      .logo
        //- DEFAULT LOGO
        .default-logo(
          ng-if="!vm.conversation.logo || vm.conversation.logo === null || vm.conversation.logo === 'undefined'"
          ng-click="redirect('')")
          span.logoText Powered by
          img(src='/files/images/logo_bizkonect.svg'
            alt='logo')

        //- USER LOGO
        .logo-user(
          ng-if="vm.conversation.logo && vm.conversation.logo != null && vm.conversation.logo != 'undefined'"
          ng-style="{backgroundImage: 'url('+ vm.conversation.logo + ')' }")

    .socialContainer
      .contacts
        .phone
          a(ng-href="tel: {{vm.conversation.authorPhone}}")
            img(src='/files/images/phone.png', alt='phone')
            span.ellipsis {{vm.conversation.authorPhone}}
        .email
          a(ng-href="mailto: {{vm.conversation.authorEmail}}")
            img(src='/files/images/email.png', alt='email')
            span.ellipsis {{vm.conversation.authorEmail}}
  header.default-header(ng-if="!vm.showUserHeader")
    md-button.md-primary.md-icon-button.md-ink-ripple.back(ng-click="vm.back($event)")
      i.material-icons arrow_back
    p.title(ng-if="!vm.conversation.email || vm.conversation.email === 'null' || vm.conversation.email === 'undefined'") Public conversation
    p.title(ng-if="vm.conversation.email && vm.conversation.email != 'null' && vm.conversation.email != 'undefined'") to:&nbsp
      span.email {{vm.conversation.email}}
  .content
    //- TITLE
    .title-container
      p.title
        span(ng-if="vm.conversation.title && vm.conversation.title != null && vm.conversation.title != 'undefined'") {{vm.conversation.title}}
    .video
      .videoHeader.showHeader(ng-class="vm.headerClass")
        .photo(
          ng-if="vm.conversation.authorPhoto && vm.conversation.authorPhoto != null"
          ng-style="{backgroundImage: 'url('+ vm.conversation.authorPhoto + ')' }")
        //- USER NAME
        .text
          p.user-name
            span(ng-if="vm.conversation.name && vm.conversation.name != null") {{vm.conversation.name}}
          //- USER ROLE
          p.user-role
            span(ng-if="vm.conversation.company_role && vm.conversation.company_role != null") {{vm.conversation.company_role}}
      .videoContent(ng-click="vm.videoContentClick($event)")
        video.video-js.vjs-default-skin(
          vjs-video
          controls
          preload="auto"
          vjs-media="vm.media")
      .videoFooter
        .chat-container(ng-if="vm.conversation.message")
          .message-container(ng-class="vm.messageClassName")
            .photo(ng-style="{backgroundImage: 'url('+ vm.conversation.authorPhoto + ')' }")
            .message
              p {{vm.conversation.message}}
              .files-container(ng-if="vm.conversation.files")
                a.file(
                  ng-repeat="item in vm.conversation.files"
                  download="{{item.name}}"
                  ng-href="{{item.url}}"
                  ng-click="vm.onFileClick(item.id)")
                  i.material-icons.file-icon insert_drive_file
                  p.file-name.ellipsis {{item.name}}

        chat-list(list="vm.chatList")
      chat-reply-box(
        message="vm.savedMessage"
        send-message="vm.sendMessage($data)")

  footer(ng-if="vm.showUserFooter")
    .logo-container
      span.powered Powered by
      img.logo(src='/files/images/logo_bizkonect.svg', alt='Bizkonect')
    .rights 2016 All rights reserved

  //- LOGIN POPUP
  popup.login-popup-container(
    ng-if="vm.showLoginPopup"
    close-popup="vm.closeLoginPopup()")
    .login-popup-content
      login-form(on-success-login="vm.onSuccessLogin()")
