.watchVideoContainer(ng-click="vm.contentClick()")
  header.user-header.clearfix(ng-if="vm.showUserHeader")
    .logoContainer
      .logo
        //- DEFAULT LOGO
        .default-logo(
          ng-if="!vm.conversation.logo || vm.conversation.logo === null || vm.conversation.logo === undefined"
          ng-click="redirect('')")
          span.logoText Powered by
          img(src='/files/images/logo_bizkonect.svg'
            alt='logo')

        //- USER LOGO
        .logo-user(
          ng-if="vm.conversation.logo && vm.conversation.logo != null && vm.conversation.logo != undefined"
          ng-style="{backgroundImage: 'url('+ vm.conversation.logo + ')' }")

    .socialContainer
      .contacts
        .phone
          a.ellipsis(ng-href="tel: {{vm.conversation.authorPhone}}")
            img(src='/files/images/phone.png', alt='phone')
            span(title="{{vm.conversation.authorPhone}}") {{vm.conversation.authorPhone}}
        .email
          a.ellipsis(ng-href="mailto: {{vm.conversation.authorEmail}}")
            img(src='/files/images/email.png', alt='email')
            span(title="{{vm.conversation.authorEmail}}") {{vm.conversation.authorEmail}}
  header.default-header.clearfix(ng-if="!vm.showUserHeader")
    md-button.md-primary.md-icon-button.md-ink-ripple.back(ng-click="vm.back($event)")
      i.material-icons arrow_back
    .title(ng-if="!vm.conversation.email || vm.conversation.email === null || vm.conversation.email === undefined") Public conversation
    .title.ellipsis(
      ng-if="vm.conversation.email && vm.conversation.email != null && vm.conversation.email != undefined"
      title="{{vm.conversation.email}}"
    )
      | to:&nbsp;
      span.email {{vm.conversation.email}}

  //- 404
  .content(ng-if="vm.conversationIsNotFound")
    .not-found Conversation is not found

  //- Content
  .content(ng-if="!vm.conversationIsNotFound")
    //- TITLE
    .title-container(ng-if="vm.conversation.title")
      p.title
        span {{vm.conversation.title}}
    .video
      .videoHeader.showHeader(ng-class="vm.headerClass")
        .photo(
          ng-if="vm.conversation.authorPhoto && vm.conversation.authorPhoto != null"
          ng-style="{backgroundImage: 'url('+ vm.conversation.authorPhoto + ')' }")
        //- USER NAME
        .text
          p.user-name(ng-if="vm.conversation.name")
            span {{vm.conversation.name}}
          //- USER ROLE
          p.user-role(ng-if="vm.conversation.company_role")
            span {{vm.conversation.company_role}}
      
      .videoContent#videoHolder(ng-click="vm.videoContentClick($event)")
        video.video-js.vjs-default-skin(
          ng-if="(vm.webm && vm.google) || vm.mp4"
          vjs-video
          controls
          preload="auto"  
          vjs-media="vm.media")
        .video-controls(
          ng-if="vm.conversation.url.indexOf('webm') !== -1 && navigator.vendor.toLowerCase().indexOf('apple') !== -1")
          button(ng-click="vm.player.play()")
            i.material-icons play_arrow
          button.pause(ng-click="vm.player.pause()")
            i.material-icons pause
          button.stop(ng-click="vm.player.stop()")
            i.material-icons stop
            
      .videoFooter
        .chat-container(ng-if="vm.conversation.message")
          .message-container(ng-class="vm.messageClassName")
            .photo(ng-style="{backgroundImage: 'url('+ vm.conversation.authorPhoto + ')' }")
            .message
              p {{vm.conversation.message}}
              .files-container(ng-if="vm.conversation.files")
                a.file(
                  ng-repeat="item in vm.conversation.files"
                  download="{{item.name}}"
                  ng-href="{{item.url}}"
                  ng-click="vm.onFileClick(item.id)")
                  i.material-icons.file-icon insert_drive_file
                  p.file-name.ellipsis {{item.name}}

        chat-box(list="vm.messages")
      chat-reply-box(
        message="vm.savedMessage"
        send-message="vm.sendMessage($data)")

  footer(ng-if="vm.showUserFooter")
    .logo-container
      span.powered Powered by
      img.logo(src='/files/images/logo_bizkonect.svg', alt='Bizkonect')
    .rights 2016 All rights reserved

  //- LOGIN POPUP
  popup.login-popup-container(
    ng-if="vm.showLoginPopup"
    close-popup="vm.closeLoginPopup()")
    .login-popup-content
      login-form(on-success-login="vm.onSuccessLogin()")
